{% extends 'base.html.twig' %}

{% block title %}Log in! |{{ parent() }}{% endblock %}

{% block body %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Salut , tu est connecté en tant que : M.{{ app.user.username |capitalize }}, <a href="{{ path('app_logout') }}">te déconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Veuillez renseignez les champs suivant :</h1>
    <label for="inputMail">Login ( pseudo ou Email )</label>
    <input type="text" value="{{ last_username }}" name="login" id="inputMail" class="form-control" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">



        <div class="checkbox mb-3">
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" checked> Se souvenir de moi
            </label>
        </div>


    <button class="btn btn-lg btn-primary" type="submit">
        Validez
    </button>
</form>
{% endblock %}
