{% extends 'base.html.twig' %}

{% block title %} Sortir |{{ parent() }}{% endblock %}

{% block body %}
 <p> Date du jour : </p>
    <p> Participant : {{ user.getNom}}{{ user.getPrenom}} </p>

        <div class="example-wrapper">
            <h1>Les sorties : </h1>



            <p>Filtrer les sorties :</p>
            <div class="container-fluid">
                <form method="GET">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <select name="campusSelected"  class="form-select form-select-lg mb-3" >
                                    <option value="" selected>Sélectionnez un campus</option>
                                    {% for campus in listeCampus %}
                                    <option value="{{ campus.id }}">{{ campus.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12">
                                <!-- choix des dates -->
                                <label for="rechercheSorties">Rechercher une sortie</label>
                                <input  type="text" id="rechercheSorties" value="" name="rechercheSorties" class="form-control  mb-3">
                            </div>
                            <div class="col-md-12">
                                <label for="dateEntre">Entre:</label>
                                <input type="date" id="dateEntre" name="dateEntre" class="form-select  mb-3"
                                       value=""
                                       min="2018-01-01" max="2200-12-31">
                            </div>
                            <div class="col-md-12">
                                <label for="etDate">Et:</label>
                                <input type="date" id="etDate" name="etDate"
                                       value=""
                                       min="2018-01-01" max="2200-12-31">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <!-- checkbox-->
                            <div class=" col-md-12 ">
                                <div>
                                    <input  type="checkbox" id="organisateur" value="{{ user.id }}" name="organisateur" class="mb-3">
                                    <label for="organisateur">Sortie dont je suis l organisateur/trice</label>
                                </div>
                                <div>
                                    <input  type="checkbox" id="jeSuisInscrit" value="{{ user.id }}" name="jeSuisInscrit" class="mb-3">
                                    <label for="jeSuisInscrit">Sorties auxquelles je suis inscrit/e</label>
                                </div>
                                <div>
                                    <input  type="checkbox" id="nonInscrit" value="{{user.id }}" name="nonInscrit" class="mb-3">
                                    <label for="nonInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                                </div>
                                <div>
                                    <input  type="checkbox" id="sortiesPassees" value="{{ user.id }}" name="sortiesPassees" class="mb-3">
                                    <label for="sortiesPassees">Sorties passées</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Bouton envoi formulaie filtre-->
                            <INPUT class="btn btn-primary w-100"  type="submit" name="nom" value="valider">
                        </div>
                    </div>
                </form>
            </div>






                <!-- le tableau-->

            <div class="container table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                    <tr>
                        <th scope="col">Nom de la sortie</th>
                        <th scope="col">Date de la sortie</th>
                        <th scope="col">Clôture </th>
                        <th scope="col">Inscrits/places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in listeSorties %}
                     <tr>
                    <td>{{sortie.nom }}</td>
                    <td>{{sortie.dateHeureDebut|date("d/m/Y") }}</td>
                    <td>{{sortie.dateLimiteInscription|date("d/m/Y")}} </td>
                    <td>{{sortie.users | length }} /{{ sortie.nbInscriptionMax }}</td>
                    <td>{{sortie.statutEtat.getlibelle}}</td>
                    <td>{% for bob in sortie.users %}
                            {% if bob.id is same as user.id %}
                                X
                            {% else%}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('user_unProfil',{'id': sortie.organisateur.getId} ) }}" >{{sortie.organisateur.getnom |capitalize }}</a></td>
                    <td><a href="{{ path('outing_detailSortie',{'id': sortie.id} ) }}">{{ sortie.id }}---Afficher</a> </td>
                    </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <a href="{{ path ('outing_add') }}" class=" container btn btn-primary w-100">Creer une nouvelle sortie</a>

        </div>


{% endblock %}
